<main class="flex flex-col min-h-screen justify-between text-gray-900">
  <div class="w-full max-w-7xl mx-auto px-8 pt-12 justify-items-stretch md:px-12">
    <div class="flex flex-row flex-wrap pb-8 items-baseline border-b gap-x-8 gap-y-2">
      <a routerLink="/" class="flex text-3xl font-medium hover:underline">
        Forklift Fleet
      </a>

      <nav class="flex flex-row gap-4">
        <a routerLink="/movement" routerLinkActive="text-blue-500 font-medium" class="flex h-fit hover:underline">
          Movement
        </a>
      </nav>
    </div>
  </div>


  <div class="flex flex-col grow w-full h-fit max-w-7xl mx-auto px-8 py-12 md:px-12">
    <router-outlet></router-outlet>
  </div>

  <div class="w-full max-w-7xl mx-auto px-8 pb-12 justify-items-stretch md:px-12">
  </div>
</main>